    body {
        width: 100vw;
        height: 100vh;
        margin: 0;
        background-color: rgb(22, 42, 68);
        color: rgb(255, 155, 238);
        .name {
            position: absolute;
            top: 30%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        button {
            height: 45px;
            position: absolute;
            top: 38%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        .txt1 {
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        .start {
            position: absolute;
            top: 43%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        .txt2 {
            position: absolute;
            top: 46%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        .end {
            position: absolute;
            top: 49%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        .txt3 {
            position: absolute;
            top: 52%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }